
/*
 * Awesome colors
 */

	background-color: #38A7E2;
	background-color: #3380C4;


/*
 		green		background-color: #359740;

 		blue		background: -moz-linear-gradient(top, #43A6E1 0%, #257BC2 100%);
					background-color: #3490D2;

 		gray		background: -moz-linear-gradient(top, #9e9e9e 0%, #747474 100%);
 					background: -moz-linear-gradient(top, #8d8d8d 0%, #525252 100%);
*/
