/*
 		green		background-color: #359740;

 		blue		background: -moz-linear-gradient(top, #43A6E1 0%, #257BC2 100%);
					background-color: #3490D2;

 		gray		background: -moz-linear-gradient(top, #9e9e9e 0%, #747474 100%);
 					background: -moz-linear-gradient(top, #8d8d8d 0%, #525252 100%);
*/


body {
	width: 980px;
	margin: 20px auto;
	padding: 20px;

	border: solid 1px #CCC;
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	-moz-user-select: none;
}

#container {
	width:100%;
	padding: 0 20px;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/*
 * Preview Area
 */

#preview {
	height: 400px;
	position: relative;
	border: 1px solid #43A6E1;
	/*overflow : hidden;*/

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


#subject {
	width: 300px;
	height: 100px;
	position: relative;
	top: 20%;
	left: 20%;
	text-align: center;
	border: 1px solid #CCC;
	background: #fff;
}


#subject #sbefore {
	z-index: -1;
	position: absolute;
	content: "";
	left: 5px;
	bottom: 10px;
	height: 10%;
	width: 48%;
	border-radius: 10px 10px 10px 0 / 30px 30px 0 0;
	box-shadow: 0 12px 5px 0px #777;
	-moz-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

#subject #safter {
	z-index: -1;
	position: absolute;
	content: "";
	right: 5px;
	bottom: 10px;
	height: 10%;
	width: 48%;
	border-radius: 10px 10px 0 0 / 30px 30px 0 0;
	box-shadow: 0px 12px 5px 0px #777;
	-moz-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
}


#subject #safter2 {
	z-index: -1;
	position: absolute;
	content: "";
	left: 5px;
	top: 10px;
	height: 10%;
	width: 48%;
	border-radius: 10px 10px 10px 0 / 30px 30px 0 0;
	box-shadow: 0 -10px 5px 0px #777;
	-moz-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
}


#subject #sbefore2 {
	z-index: -1;
	position: absolute;
	content: "";
	right: 5px;
	top: 10px;
	height: 10%;
	width: 48%;
	border-radius: 10px 10px 10px 0 / 30px 30px 0 0;
	box-shadow: 0 -10px 5px 0px #777;
	-moz-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
}


/*
 * Stack of Layers for shadow
 */

#layer_manager {
	padding: 5px;
	background-color: #FEFEFE;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#layer_manager #new_layer,
#layer_manager .layer {
	width: 100%;
	margin: 5px 0;
	padding: 5px;
	text-align: center;
	background: #43A6E1;
	font-size: 0.75em;
	line-height: 1.5em;
	color: #FFF;
	border-radius: 5px;
	display: block;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#layer_manager #new_layer:hover {
	background: -moz-linear-gradient(top, #43A6E1 0%, #257BC2 100%);
	background: -webkit-linear-gradient(top, #43A6E1 0%, #257BC2 100%);
	cursor: pointer;
}

#layer_manager .layer {
	color: #333;
	background-color: #E4E4E4;
}

#layer_manager .layer:hover {
	color: #EEE;
	background: -moz-linear-gradient(top, #D93 0%, #C60 100%);
	background: -webkit-linear-gradient(top, #D93 0%, #C60 100%);
	cursor: pointer;
}

#layer_manager [active="true"] {
	color: #FFF;
	background-color: #D82;
}

#layer_manager .delete {
	width: 1.5em;
	height: 1.5em;
	float: right;
	border-radius: 3px;
	background-image: url("../images/delete_button.png");
	background-position: center center;
	background-size: 1.5em 1.5em;
	display: none;
}

#layer_manager .delete:hover {
	background-image: url("../images/delete_button_2.png");
}

#layer_manager .layer:hover .delete {
	display: block;
}
